html { 
    background: url(../images/conciertos.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#container {
    margin-top: 150px;
    text-align: center;
}

.boton {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    text-align: center;
    margin: 20px;
    border-radius: 4px;
    background: rgba(0,0,0,0.5);
    width: 120px;
    height: 130px;
}

h1 {
    font-family: 'Helvetica', 'Arial';
    font-size: 100px;
    color: white;
}

h2 {
    font-family: 'Helvetica', 'Arial';
    font-size: 20px;
    color: gold;
}